@page "/"
@layout LandingLayout //uses the custom layout created for the homepage
@inject TripManager TripManager //injects TripManager service for handling trips.
@inject NavigationManager Navigation //used for navigation between pages.

<PageTitle>Home</PageTitle>

<div class="hero">
    <div class="overlay"></div>
    <div class="hero-card">
        <h1 class="heading">Where to next?</h1>
        <h2 class="subheading">Plan your adventure</h2>

        @*
            EditForm is used for forms with validation
            - Model: The object that holds the form data
            - OnValidSubmit: The method called when the form is submitted and all validations pass
            - @bind-Value: binds the value of the input directly into a property
        *@

        <EditForm Model="@formModel" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />

            <div class="form-group">
                <InputText @bind-Value="formModel.TripLocationInput" placeholder="City, Country" />
                @if (error != null)
                {
                    <p>@error</p>                
                }
            </div>

            <div class="date-row">
                <div class="form-group">
                    <InputDate @bind-Value="formModel.StartDate" />
                    <label class="date-label">Start Date</label>
                </div>
                <div class="form-group">                    
                    <InputDate @bind-Value="formModel.EndDate" />
                    <label class="date-label">End Date</label>
                </div>
            </div>

            <div class="form-group">
                <button type="submit">Plan my trip</button>
            </div>

        </EditForm>

    </div>
</div>

@code {
    string? error;
    private TripFormModel formModel = new TripFormModel();

    private async Task HandleSubmit() //becomes async since it needs to talk to the database
    {
        if (formModel.StartDate > formModel.EndDate)
        {
            DateTime? temp = formModel.StartDate;
            formModel.StartDate = formModel.EndDate;
            formModel.EndDate = temp;
        }

        string[] parts = formModel.TripLocationInput.Split(',');
        if (parts.Length != 2)
        {
            error = "Please enter city, country";
            return;
        }

        string city = parts[0].Trim();
        string country = parts[1].Trim();

        TripLocation tripLocation = new TripLocation(city, country);

        //create trip var to extract the tripId for navigation
        var createdTrip = await TripManager.StartTrip(tripLocation, formModel.StartDate.Value, formModel.EndDate.Value); 
        Navigation.NavigateTo($"/planner/{createdTrip.TripId}");
    }

    private class TripFormModel //a model is required to use EditForm in Blazor
    {
        [Required]
        public string TripLocationInput { get; set; } = "";

        [Required] //used for validation in EditForm
        public DateTime? StartDate { get; set; }

        [Required]
        public DateTime? EndDate { get; set; }
    }
}

