@inject TripManager TripManager
@inject IJSRuntime JS
@inject HttpClient Http


<div id="map">
    
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var mapToken = await Http.GetStringAsync("api/config");
            await JS.InvokeVoidAsync("initializeMap", mapToken, TripManager.CurrentTrip.Location[0].Longitude, TripManager.CurrentTrip.Location[0].Latitude);
        }
    }
}