@inject TripManager TripManager
@inject IJSRuntime JS


<div id="map">
    
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JS.InvokeVoidAsync("initializeMap", "");
    }
}